:root {
  --cyan: #53afa4;
}
/* First Section Styles */
.section-1 {
  margin-top: 150px;
}

.section-1 h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
}

.circle-3 {
  left: -70vw;
  top: 0vw !important;
}

.info-col-1 {
  position: absolute;
  /* z-index: ; */
  width: 550px !important;
  height: 350px !important;
  border: 16px solid #f1632a;
  transform: translate(0px, -20px);
}

.info-col-2 {
  z-index: 1;
  position: relative;
  width: 550px !important;
  height: 350px;
  background: var(--cyan);
  transform: translate(-50px, 30px);
}
.info-col-2 h1 {
  width: 200px;
}

.img-container-1 img {
  width: 600px;
}

.circle-4 {
  left: 50vw !important;
  top: 70vw !important;
}
.circle-6 {
  width: 70vw;
  height: 70vw;
  left: -50vw;
  top: 60vw;
}
.circle-5 {
  width: 50vw !important;
  height: 50vw !important;
  left: 20vw !important;
  top: 170vw !important;
  background: #fff7f7 !important;
}
/* Second Section Styles */
.about-container p {
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  line-height: 52px;
  width: 1000px;
}

.card-col h5,
h2,
h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.card-col h2 {
  font-size: 40px;
}
.card-col h6 {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 1600px) {
  .circle-5 {
    display: none;
  }
}

@media (min-width: 2100px) {
  .circle-4 {
    display: none;
  }
  .circle-6 {
    display: none;
  }
}
