/* First Section Styles */

.sub-section h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}
.sub-section button {
  color: var(--gray);
  font-weight: 600;
  font-size: 16px;
  border: none;
  background: transparent;
}
.sub-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}

.circle-4 {
  width: 60vw !important;
  height: 60vw !important;
  left: 90vw !important;
  top: 30vw !important;
}

@media (min-width: 2100px) {
  .circle-4 {
    display: none;
  }
}

@media (max-width: 576px) {
  .sub-section img {
    width: 300px;
  }
}
